<div class="row">
  <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto" >
    <div class="col" *ngFor="let item of itemsList;let i = index">
      <div class="card h-100">
        <img src="{{ item.pic }}" class="card-img-top mx-auto"  />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">price: {{ item.price }}$</small>
        </div>
        <button class="btn btn-primary">add to Cart</button>
        <button type="" (click)="onCounter(item)">counter{{item.counter}}</button>
      </div>
    </div>
  </div>
</div>
